#this-week-test {
  padding: 0;
  display: grid;
  margin: 0 auto;
  width: 100%;
}

#this-week-test > .padder,
#this-week-test > .module.head {
  width: 100%;
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
}

#this-week-test > .module.head {
  padding: 4rem 3rem 3rem;
  background-color: rgba(255, 255, 255, 0.05);
}

#this-week-test > .module.head .page-header {
  margin-bottom: 0rem;
}

#this-week-test > .module.head .views {
  margin: 2rem 0 0;
}

#this-week-test > .module.head .views .list {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(5, 1fr);
}

#this-week-test > .module.head .views .list li {
  height: 48px;
  margin: 0;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0);
}

#this-week-test > .module.head .views .list li::before {
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0.4);
}

#this-week-test > .module.head .views .list li a.active {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 1);
  color: #fff;
}

#this-week-test > .module.head .views .list li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
}

#this-week-test > .module.head .views .list li:hover::before {
  box-shadow: inset 0 0 0 1px #d6d6d6;
  background-color: rgba(255, 255, 255, 0.2);
}

#this-week-test > .module.head .views .list li .image.dl {
  top: 15%;
  height: 70%;
  opacity: 0.4;
}

#this-week-test > .module.head .views .list li .active .image.dl {
  opacity: 1;
}

#this-week-test .module .content.highlight .module-header {
  margin: 24px 0 0;
}

#this-week-test > .module.head .highlight > div:last-child {
  margin: 10px 0 0;
  font-size: 38px;
  line-height: 35px;
  font-weight: 500;
}

#this-week-test > .module.head .highlight .weekly-burn {
  margin: 10px 0 0;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
  align-items: center;
  grid-gap: 10px;
  font-size: 38px;
  line-height: 35px;
}

#this-week-test > .module.head .highlight .weekly-burn i {
  font-size: 34px;
  font-weight: 400;
}

#this-week-test > .module.head .highlight .weekly-burn .destiny-damage_void {
  color: #8b4cb2;
}

#this-week-test > .module.head .highlight .weekly-burn .destiny-damage_solar {
  color: #ef641f;
}

#this-week-test > .module.head .highlight .weekly-burn .destiny-damage_arc {
  color: #79bbe7;
}

#this-week-test .module .sub-header ~ .sub-header {
  margin: 3rem 0 1rem;
}

#this-week-test .module .module-header {
  position: relative;
  margin: 48px 0 0;
}

#this-week-test .module .module-header .sub-name,
#this-week-test .module h3 {
  color: rgba(255, 255, 255, 0.8);
}

#this-week-test .module .module-header .sub-name {
  font-size: 18px;
}

#this-week-test .module .module-header::after {
  content: ' ';
  position: absolute;
  top: -12px;
  left: 0;
  width: 16px;
  border-bottom: 3px solid #ffffff;
  opacity: 0.2;
}

#this-week-test .module .page-header .sub-title,
#this-week-test .module .module-header .sub-title {
  margin: 0 0 3px;
  font-size: 18px;
}

#this-week-test .module .module-header .name {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
}

#this-week-test .module .content:first-child .module-header {
  margin: 24px 0 0;
}

#this-week-test .module h4 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  margin: 20px 0 14px;
}

#this-week-test .module .record-items,
#this-week-test .module .collection-items,
#this-week-test .module .inventory-items {
  grid-template-columns: 1fr;
}

#this-week-test .module:not(.head) .content + .content {
  margin: 2rem 0 0;
}

#this-week-test .module .list + .list {
  margin: 7px 0 0;
}

#this-week-test .module .collection-items li {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.4);
}

#this-week-test .module .collection-items li.completed {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
}

#this-week-test .module .collection-items li .image.dl {
  opacity: 0.4;
}

#this-week-test .module .collection-items li.completed .image.dl {
  opacity: 1;
}

#this-week-test .module .collection-items li:hover,
#this-week-test .module .inventory-items li:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
}

#this-week-test .module .list.modifiers li {
  padding: 0 0rem;
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-template-rows: 1fr;
  align-items: start;
  height: unset;
  margin: 0 0 14px;
}

#this-week-test .module .list.modifiers li:last-child {
  margin: 0;
}

#this-week-test .module .list.modifiers li .icon {
  padding: 3px 0 0;
}

#this-week-test .module .list.modifiers li .icon .image {
  position: relative;
  height: 32px;
  width: 32px;
}

#this-week-test .module .list.modifiers li .text {
  margin: 0 0 0 1rem;
  font-size: 14px;
}

#this-week-test .module .list.modifiers li .text .name {
  margin: 0 0 3px;
}

#this-week-test .module .list.modifiers li .text .description {
  white-space: pre-line;
  color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 1440px) {
  #this-week-test > .padder,
  #this-week-test > .module.head {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  #this-week-test > .padder,
  #this-week-test > .module.head {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  #this-week-test > .padder,
  #this-week-test > .module.head {
    padding: 2rem;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  #this-week-test .module .sub-header ~ .sub-header {
    margin: 2rem 0 1rem;
  }

  #this-week-test h3 {
    margin: 0 0 1rem;
  }

  #this-week-test .module .module-header .name {
    font-size: 27px;
  }
}






