#inventory.vault > .module.views {
  grid-row: 1/3;
}

#inventory.vault > .module:nth-child(2) {
  grid-column: 2/5;
}

@media screen and (max-width: 1023px) {

  #inventory.vault > .module.views {
    grid-row: 1/5;
  }
  
  #inventory.vault > .module:not(.views) {
    grid-column: 2/3;
  }

}