#sit-rep {
  padding: 0;
  display: grid;
  margin: 0 auto;
  width: 100%;
}

#sit-rep > .module.head,
#sit-rep > .padder,
#sit-rep > .season-pass {
  width: 100%;
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
}

#sit-rep > .module.head {
  padding: 4rem 3rem 3rem;
  background-color: rgba(255, 255, 255, 0.05);
}

#sit-rep > .module.head .content {
}

#sit-rep > .module.head .content .text p {
  font-size: 16px;
}

#sit-rep > .module.head .content .text p:last-child {
  font-size: 14px;
}

#sit-rep .module .content.highlight {
  position: relative;
}

#sit-rep .module .content.highlight .module-header {
  margin: 24px 0 20px;
}

#sit-rep .module .sub-header ~ .sub-header {
  margin: 3rem 0 1rem;
}

#sit-rep .module .module-header {
  position: relative;
  margin: 48px 0 0;
}

#sit-rep .module .module-header .sub-name,
#sit-rep .module h3 {
  color: rgba(255, 255, 255, 0.8);
}

#sit-rep .module .module-header .sub-name {
  font-size: 18px;
}

#sit-rep .module .module-header::after {
  content: ' ';
  position: absolute;
  top: -12px;
  left: 0;
  width: 16px;
  border-bottom: 3px solid #ffffff;
  opacity: 0.2;
}

#sit-rep .module .page-header .sub-title,
#sit-rep .module .module-header .sub-title {
  margin: 0 0 3px;
  font-size: 18px;
}

#sit-rep .module .module-header .name {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
}

#sit-rep .module .content:first-child .module-header {
  margin: 12px 0 0;
}

#sit-rep .module .content.highlight.crucible .text ~ .modes {
  margin: 20px 0 0;
}

#sit-rep .module .content.highlight.crucible .modes {
  position: relative;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: minmax(60px, 120px) minmax(60px, 120px);
}

#sit-rep .module .content.highlight.crucible .modes > div {
  position: relative;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 1fr;
}

#sit-rep .module .content.highlight.crucible .modes > div .icon svg {
  width: 100%;
  height: auto;
  transform: scale(1.2);
}

#sit-rep .module .content.highlight.crucible .modes > div .icon svg .polygon.inner {
  animation: rotate-linear 20s infinite linear;
  transform-origin: center;
}

#sit-rep .module .content.highlight.crucible .modes > div .icon svg .polygon.inner.ani {
  animation: sit-rep-rotate-and-scale-out 5s infinite ease-out;
  transform-origin: center;
}

@keyframes sit-rep-rotate-and-scale-out {
  0%,
  100% {
    transform: scale(0);
    opacity: 0;
  }
  12.5% {
    opacity: 0.4;
  }
  25% {
    transform: scale(1.2);
    opacity: 0;
  }
}

#sit-rep .module .content.highlight.crucible .modes > div .text {
  text-align: center;
  font-size: 16px;
}

#sit-rep .list.activities {
  display: grid;
  grid-gap: 3px;
}

#sit-rep .list.activities li {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  font-size: 14px;
  margin: 0;
  padding: 0 1rem;
}

#sit-rep .list.activities li > div:not(.name) {
  display: grid;
  grid-template-columns: auto 50px;
  grid-gap: 6px;
  text-align: right;
}

#sit-rep .list.activities li .name {
  font-size: 16px;
}

#sit-rep .list.activities li .time {
  color: rgba(255, 255, 255, 0.6);
}

#sit-rep .list.activities li .light {
  color: #e5d163;
}

#sit-rep .list.activities li .light span {
  position: relative;
  margin: 0 0 0 8px;
}

#sit-rep .list.activities li .light span::before {
  content: 'l';
  position: absolute;
  top: 3px;
  left: -7px;
  font-family: 'destiny' !important;
  font-size: 6px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#sit-rep .module .ranks {
  margin: 25px 0 0;
}

#sit-rep .module .ranks > div {
  position: relative;
  font-size: 14px;
  line-height: 10px;
}

#sit-rep .module .clan-roster {
  position: relative;
}

#sit-rep .module .clan-roster .refresh {
  position: absolute;
  top: 0;
  right: 0;
}

#sit-rep .season-pass {
  display: grid;
  grid-template-columns: 1fr 30px 2fr 30px;
  grid-gap: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
}

#sit-rep .season-pass .status {
  
}

#sit-rep .season-pass .status .season-text {
  margin: 20px 0 0;
}

#sit-rep .season-pass .status .season-text .name {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 12px;
}

#sit-rep .season-pass .status .season-text .description {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.5px;
}

#sit-rep .season-pass .page .button {
  height: calc(100% - 20px - 2rem);
  margin: calc(20px + 2rem) 0 0;
}

#sit-rep .season-pass .page .button .text {
  padding: 0;
  width: 100%;
}

#sit-rep .season-pass .rewards {
  display: grid;
  grid-auto-flow: column;
}

#sit-rep .season-pass .rewards .rank {
  display: grid;
  grid-template-rows: calc(5px + 1rem) 2fr 2fr;
  position: relative;
  padding: 2rem 0 0;
  margin: 20px 0 0;
}

#sit-rep .season-pass .rewards .rank::before {
  content: attr(data-rank);
  position: absolute;
  top: 0;
  right: 0;
}

#sit-rep .season-pass .rewards .rank > div {
  position: relative;
  padding: 1rem;
}

#sit-rep .season-pass .rewards .rank .progress-bar {
  padding: 0;
  height: 4px;
}

#sit-rep .season-pass .rewards .rank .progress-bar .text {
  display: none;
}

#sit-rep .season-pass .rewards .rank .progress-bar .fill {
  background-color: rgba(255, 255, 255, 0.8);
}

#sit-rep .season-pass .rewards .rank .free {
  background-color: rgba(255, 255, 255, 0.2);
}

#sit-rep .season-pass .rewards .rank .premium {
  background-color: rgba(0, 176, 176, 0.6);
}

#sit-rep .season-pass .rewards .rank .list.inventory-items {
  position: relative;
  grid-template-columns: 1fr;
}

#sit-rep .season-pass .rewards .rank :not(.earned) .list.inventory-items li {
  opacity: 0.6;
}

#sit-rep .season-pass .rewards .rank .claimAllowed:not(.progress-bar).earned:not(.claimed)::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(225deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 400%;
  animation: animation-update-flash 1.2s linear 0s infinite forwards;
}



@media screen and (max-width: 1440px) {
  #sit-rep > .module.head,
  #sit-rep > .padder {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  #sit-rep > .module.head,
  #sit-rep > .padder {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1023px) {
  #sit-rep .season-pass {
    display: grid;
    grid-template-columns: 30px 2fr 30px;}
  #sit-rep .season-pass .status {
    grid-column: 1/4;
}
}

@media screen and (max-width: 600px) {
  #sit-rep > .module.head,
  #sit-rep > .padder {
    padding: 2rem;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  #sit-rep > .season-pass {
    padding: 2rem;
  }

  #sit-rep .module .sub-header ~ .sub-header {
    margin: 2rem 0 1rem;
  }

  #sit-rep h3 {
    margin: 0 0 1rem;
  }

  #sit-rep .module .module-header .name {
    font-size: 27px;
  }
}
