#sit-rep {
  padding: 0;
  display: grid;
  margin: 0 auto;
  width: 100%;
}

#sit-rep > .padder,
#sit-rep > .module.head {
  width: 100%;
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
}

#sit-rep > .module.head {
  padding: 4rem 3rem 3rem;
  background-color: rgba(255, 255, 255, 0.05);
}

#sit-rep > .module.head .content {
  
}

#sit-rep > .module.head .content .text p {
  font-size: 16px;
}

#sit-rep > .module.head .content .text p:last-child {
  font-size: 14px;
}

#sit-rep .module .content.highlight {
  position: relative;
}

#sit-rep .module .content.highlight .module-header {
  margin: 24px 0 20px;
}

#sit-rep .module .sub-header ~ .sub-header {
  margin: 3rem 0 1rem;
}

#sit-rep .module .module-header {
  position: relative;
  margin: 48px 0 0;
}

#sit-rep .module .module-header .sub-name,
#sit-rep .module h3 {
  color: rgba(255, 255, 255, 0.8);
}

#sit-rep .module .module-header .sub-name {
  font-size: 18px;
}

#sit-rep .module .module-header::after {
  content: ' ';
  position: absolute;
  top: -12px;
  left: 0;
  width: 16px;
  border-bottom: 3px solid #ffffff;
  opacity: 0.2;
}

#sit-rep .module .page-header .sub-title,
#sit-rep .module .module-header .sub-title {
  margin: 0 0 3px;
  font-size: 18px;
}

#sit-rep .module .module-header .name {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
}

#sit-rep .module .content:first-child .module-header {
  margin: 12px 0 0;
}

#sit-rep .module h4 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  margin: 20px 0 14px;
}

#sit-rep .module .content.highlight.crucible .mode {
  position: relative;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 140px auto;
}

#sit-rep .module .content.highlight.crucible .mode .icon {
  position: relative;
  max-width: 140px;
}

#sit-rep .module .content.highlight.crucible .mode .icon svg {
  width: 100%;
  height: auto;
  fill: rgba(255, 255, 255, 0.8);
}

#sit-rep .module .content.highlight.crucible .mode .icon svg .polygon.inner {
  animation: rotate-linear 20s infinite linear;
  transform-origin: center;
}

#sit-rep .module .content.highlight.crucible .mode .icon svg .polygon.inner.ani {
  animation: sit-rep-rotate-and-scale-out 5s infinite ease-out;
  transform-origin: center;
}

@keyframes sit-rep-rotate-and-scale-out {
  0%, 100% {
    transform: scale(0);
    opacity: 0;
  }
  12.5% {
    opacity: 0.4;
  }
  25% {
    transform: scale(1.2);
    opacity: 0;
  }
}




#sit-rep .list.activities {
  display: grid;
  grid-gap: 3px;
}

#sit-rep .list.activities li {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  font-size: 14px;
  margin: 0;
  padding: 10px 1rem;
}

#sit-rep .list.activities li > div:not(.name) {
  display: grid;
  grid-template-columns: auto 50px;
  grid-gap: 6px;
  text-align: right;
}

#sit-rep .list.activities li .time {
  color: rgba(255, 255, 255, 0.6);
}

#sit-rep .list.activities li .light {
  color: #e5d163;
}

#sit-rep .list.activities li .light span {
  position: relative;
  margin: 0 0 0 8px;
}

#sit-rep .list.activities li .light span::before {
  content: 'l';
  position: absolute;
  top: 3px;
  left: -7px;
  font-family: 'destiny' !important;
  font-size: 6px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





#sit-rep .module .ranks > div {
  position: relative;
  font-size: 14px;
  line-height: 10px;
}

#sit-rep .module.clan-roster {
  position: relative;
}

#sit-rep .module.clan-roster .refresh {
  position: absolute;
  left: -2rem;
}















@media screen and (max-width: 1440px) {
  #sit-rep > .padder,
  #sit-rep > .module.head {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  #sit-rep > .padder,
  #sit-rep > .module.head {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  #sit-rep > .padder,
  #sit-rep > .module.head {
    padding: 2rem;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  #sit-rep .module .sub-header ~ .sub-header {
    margin: 2rem 0 1rem;
  }

  #sit-rep h3 {
    margin: 0 0 1rem;
  }

  #sit-rep .module .module-header .name {
    font-size: 27px;
  }
}