.map-omega {
  position: relative;
  height: 600px;
  background-color: black;
  color: white;
}

.map-omega .leaflet-container  {
  background-color: transparent;
  height: 100%;
  z-index: 2;
}

.map-omega .interaction-none {
  pointer-events: none;
}

.map-omega .leaflet-background-pane {
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}

.map-omega .leaflet-background-pane .layer-background {
  position: absolute;
  left: 50%;
  min-width: 2160px;
  width: 112.5%;
  transform: translateX(-50%);
}

.map-omega .leaflet-background-pane .layer-background.layer-background-upper {
  top: -28%;
}

.map-omega .leaflet-background-pane .layer-background.layer-background-lower {
  bottom: -18%;
}

.map-omega .leaflet-container .text-marker .wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.map-omega .leaflet-container .text-marker .wrapper .name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  transition: transform 0.25s;
  white-space: nowrap;
  line-height: 1.1;
}

.map-omega .leaflet-container .text-marker.region .wrapper .name {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  opacity: 0.9;
}

.map-omega .leaflet-container .text-marker.suburb .wrapper .name {
  font-family: 'Merriweather', serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.6;
}

.map-omega.zoom--1 .leaflet-container .text-marker .wrapper .name {
  transform: translateX(-50%) translateY(-50%) scale(0.6);
}

.map-omega.zoom--2 .leaflet-container .text-marker .wrapper .name {
  transform: translateX(-50%) translateY(-50%) scale(0.4);
}

.map-omega .leaflet-container .icon-marker .wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.map-omega .leaflet-container .icon-marker .wrapper .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.map-omega.zoom--1 .leaflet-container .icon-marker .wrapper .icon {
  transform: translateX(-50%) translateY(-50%) scale(0.6);
}

.map-omega.zoom--2 .leaflet-container .icon-marker .wrapper .icon {
  transform: translateX(-50%) translateY(-50%) scale(0.4);
}

.map-omega .leaflet-container .icon-marker .wrapper .icon::before {
  font-family: 'destiny' !important;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.map-omega .leaflet-container .icon-marker .wrapper .name {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateX(16px) translateY(-50%);
  white-space: nowrap;
  font-family: 'Merriweather', serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.map-omega .leaflet-container .icon-marker {
  opacity: 0.6;
}

.map-omega .leaflet-container .icon-marker.completed {
  opacity: 0.2;
}
