#clan.about {
  display: grid;
  padding: 4rem 3rem 3rem;
  grid-gap: 3rem;
  grid-template-columns: 2fr 1fr 1fr;
}

#clan.about > .module .page-header {
  margin-bottom: 0;
}

#clan.about > .module:first-child {
  grid-column: 1/4;
}

#clan.about > .module.overview {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#clan.about > .module.overview .bio {
  padding: 0 0 0 3rem;
}

#clan.about > .module.overview .bio.includes-motto p:first-child {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
}

#clan.about > .module.overview .bio p {
  font-size: 16px;
  max-width: 700px;
}

#clan.about .banner .canvas {
  position: relative;
}

#clan.about .banner .canvas .spinner {
  position: absolute;
}

#clan.about .banner .canvas canvas {
  width: 100%;
}

#clan.about > .module.progression {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: flex-start; */
}

#clan.about > .module.progression .sub-header ~ .sub-header {
  margin: 2rem 0 1rem;
}

#clan.about > .module.progression  .sub-header:first-child {
  margin-bottom: 0;
}

#clan.about .clanLevel > .text {
  position: relative;
  text-transform: uppercase;
  text-align: right;
  font-size: 12px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 0 10px;
}

#clan.about .clanLevel > .text::before {
  content: ' ';
  position: absolute;
  top: -6px;
  right: 0;
  width: 0.7rem;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.4);
}

#clan.about .weeklyRewardState > .text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  margin: 0 0 1rem;
}

#clan.about .weeklyRewardState ul li {
  display: flex;
  position: relative;
  padding: 0;
  margin: 0 0 10px;
  line-height: 1.4;
  align-items: flex-start;
}

#clan.about .personalContribution > .text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  margin: 0 0 1rem;
}

#clan.about .check-box {
  flex-basis: 100%;
}

#clan.about .check-box .text span {
  color: rgba(255, 255, 255, 1);
}

#clan.about .roster .sub-header {
  margin-top: 0;
}

#clan.about .no-clan {
  padding: 4rem 3rem 3rem;
  display: grid;
  grid-template-columns: 1.6fr 3fr 1.6fr;
  grid-gap: 3rem;
}

#clan.about .no-clan .properties {
  grid-column: 2/3;
}

#clan.about .no-clan .properties .name {
  font-size: 38px;
  font-weight: 600;
  margin: 0 0 7px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  padding-bottom: 7px;
  margin-bottom: 1rem;
}

#clan.about .no-clan .properties .description {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

#clan.about .about .roster .list.roster .linked:not(:last-child) {
  pointer-events: none;
}

@media screen and (max-width: 1280px) {
  #clan.about {
    grid-template-columns: 1fr 1fr;
  }

  #clan.about > .module:first-child {
    grid-column: 1/3;
  }
  
  #clan.about > .module.overview {
    grid-template-columns: 1fr;
    grid-column: 1/3;
  }

  #clan.about > .module.overview .banner {
    display: none;
  }

  #clan.about > .module.overview .bio {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  #clan.about {
    grid-template-columns: 1fr 1fr;
  }

  #clan.about > .module.overview {
    grid-column: 1/3;
  }
}

@media screen and (max-width: 600px) {
  #clan.about {
    padding: 3rem 2rem 2rem;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
  }

  #clan.about > .module:first-child {
    grid-column: unset;
  }

  #clan.about > .module.overview {
    grid-column: unset;
  }

  #clan.about .no-clan {
    padding: 3rem 2rem 2rem;
    grid-column: 1/1;
  }

  #clan.about .no-clan .properties {
    grid-column: 1/1;
  }

  #clan.about .no-clan .properties .name {
    font-size: 24px;
  }
}
