#clan.stats {
  grid-template-columns: 60px 1fr;
}

#clan.stats .module.views {
  /* grid-row: 1/4; */
}

#clan.stats .wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

#clan.stats .wrapper .bread {
  grid-column: 1/end;
  margin: 0 0 2rem;
}

#clan.stats .wrapper .bread span {
  font-size: 30px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}

#clan.stats .wrapper .bread span::before {
  content: ' // ';
}

#clan.stats .wrapper .bread span:first-child {
  color: rgba(255, 255, 255, 0.8);
}

#clan.stats .wrapper .bread span:first-child::before {
  content: none;
}

#clan.stats .wrapper .boards {
  grid-column: 2/end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  padding: 0 0 0 3rem;
}

#clan .module.views.scopes .list {
  width: unset;
}

#clan .module.views.scopes .list li {
  height: 38px;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0);
}

#clan .module.views.scopes .list li .text {
  padding: 0 1rem;
  letter-spacing: 2px;
}

#clan .module.views.scopes .list li.active .text {
  color: rgba(255, 255, 255, 1);
}