#multiplayer.root .module-l1:nth-child(n+3) {
  grid-column: 1/3;
}

#multiplayer .stats {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1rem;
  margin: 0 0 2rem;
}

#multiplayer .stats .stat .value {
  font-size: 32px;
  line-height: 28px;
}

#multiplayer .stats .stat .name {
  margin: 12px 0 0;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}


@media screen and (max-width: 1024px) {

  #multiplayer.root .module-l1:nth-child(n+3) {
    grid-column: 1/2;
  }

  #multiplayer .stats {
    grid-template-columns: repeat(4, 1fr);
  }

}

@media screen and (max-width: 768px) {


  #multiplayer .stats .stat .value {
    font-size: 24px;
    line-height: 20px;
  }

  #multiplayer .stats .stat .name {
    font-size: 14px;
  }

}

@media screen and (max-width: 600px) {

  #multiplayer .stats {
    grid-template-columns: repeat(2, 1fr);
  }

  #multiplayer .stats .stat .value {
    font-size: 20px;
    line-height: 18px;
  }

  #multiplayer .stats .stat .name {
    font-size: 12px;
  }

}