#maps {
  padding: 0;
  display: grid;
  margin: 0 auto;
  width: 100%;
}

#maps .leaflet-container {
  height: calc(100vh - 232px);
  background-color: transparent;
}

#maps .leaflet-container .lol {
  
}






