#index {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 3rem;
}

#index .head {
  background-color: #828282;
}

#index .features {
  width: 100%;
}

#index .logo-area {
  padding: 3rem 3rem 1rem;
  background-color: #ee2d1b;
}

#index .logo-feature .device {
  position: relative;
  font-size: 192px;
  line-height: 178px;
  display: inline-block;
  color: #ffffff;
}

#index .logo-feature .device::before,
#index .logo-feature .device::after {
  content: ' ';
  position: absolute;
  top: -20px;
  left: -20px;
  width: 232px;
  height: 232px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.8);
  animation: fade-in-logo-feature 7s linear forwards, rotate-logo-feature 21s linear infinite;
}

#index .logo-feature .device::after {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
  animation: fade-in-logo-feature 7s linear forwards, rotate-logo-feature 10s linear infinite;
}


#index .head .name {
  font-size: 96px;
  font-weight: 500;
  color: #ffffff;
  margin: 0 0 0 -3px;
}

#index .head .description {
  padding: 3rem;
  font-size: 20px;
}







@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 600px) {
  #index {
    padding: 2rem;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  #index .logo-area {
    padding: 2rem 2rem 1rem;
  }

  #index .head .name {
    font-size: 72px;
    margin: 0 0 0 -1px;
  }

  #index .head .description {
    padding: 2rem 2rem 1.5rem;
    font-size: 18px;
  }
  
}
