#index {
  padding: 0;
  display: block;
}

#index .head {
  position: relative;
  margin: -40px 0 0;
  padding: calc(3rem + 40px) 3rem 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  min-height: 32vw;
  display: grid;
  align-items: end;
  overflow: hidden;
}

#index .head .image.bg {
  background-size: cover;
  background-position: center center;
  filter: brightness(0.7);
}

#index .head .device {
  position: absolute;
  height: 100%;
  top: 0;
  right: 3rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
}

#index .head .device svg {
  fill: #ffffff;
  opacity: 0.1;
  width: auto;
  height: 42vw;
}

#index .head .slogan {
  position: relative;
  max-width: 1024px;
}

#index .head .slogan .message {
  font-size: 4vw;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
}

#index .head .slogan .view-name {
  margin: 1rem 0 0;
  line-height: 1;
  font-size: 24px;
}

#index .head .slogan a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#index .logo-area {
  
}

#index .logo-feature .device {
  position: relative;
  font-size: 192px;
  line-height: 178px;
  display: inline-block;
  color: #ffffff;
}

#index .logo-feature .device::before,
#index .logo-feature .device::after {
  content: ' ';
  position: absolute;
  top: -20px;
  left: -20px;
  width: 232px;
  height: 232px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.8);
  animation: fade-in-logo-feature 7s linear forwards, rotate-logo-feature 21s linear infinite;
}

#index .logo-feature .device::after {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
  animation: fade-in-logo-feature 7s linear forwards, rotate-logo-feature 10s linear infinite;
}

#index .modules {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}

#index .modules .coming-up .text {
  font-size: 14px;
}

#index .modules .coming-up .text p {
  line-height: 1.6;
}

#index .modules .coming-up .text blockquote {
  margin: 0 0 1rem;
  padding: 0 0 0 0.6rem;
  border-left: 3px solid rgba(255, 255, 255, 0.2);
  color:rgba(255, 255, 255, 0.8);
}

#index .modules .coming-up .text span.destiny-external {
  margin: 0 0 0 6px;
  opacity: 0.6;
}

#index .modules .change-log .log-state {
  display: flex;
  justify-content: space-between;
}

#index .modules .change-log .log-state .meta {
  flex: 1 1 auto;
  padding: 0 1rem 0 0;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  font-size: 14px;
}

#index .modules .change-log .log-state .meta > div {
  height: 38px;
  flex: 1 1 auto;
  display: grid;
  align-content: center;
}

#index .modules .change-log .log-state .meta .time {
  justify-self: end;
  color: rgba(255, 255, 255, 0.4);
}

#index .modules .change-log .log-state .buttons {
  display: grid;
  grid-template-columns: repeat(2, 38px);
  grid-gap: 3px;
}

#index .modules .change-log .log-state .buttons button {
  width: 38px;
  justify-content: center;
  margin: 0;
}

#index .modules .change-log .log-state .buttons button .text {
  padding: 0;
  font-size: 12px;
}

#index .modules .change-log .log-state .buttons button.disabled {
  pointer-events: none;
}

#index .modules .change-log .log-state .buttons button:not(.disabled) {
  color: rgba(255, 255, 255, 0.8);
}

#index .modules .change-log .log-state .buttons button:not(.disabled)::before {
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0.8);
}

#index .modules .change-log .log-content p {
  margin: 0 0 0.5rem;
  font-size: 14px;
  line-height: 1.6;
}

#index .modules .change-log .log-content p:last-child {
  margin: 0;
}

#index .modules .change-log .log-content p a::before {
  content: ' ';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid;
  opacity: 0.2;
}

#index .modules .change-log .log-content code {
  font-family: monospace;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: rgba(255, 255, 255, 0.1);
}

#index .modules .change-log .log-content h2 {
  margin: 0 0 0.5rem;
  font-size: 14px;
  line-height: 1.6;
}

#index .modules .change-log .log-content h2:not(:first-child) {
  margin: 1rem 0 0.5rem;
}

#index .modules .change-log .log-content ul {
  list-style-type: disc;
  padding: 0 0 0 2rem;  
  margin: 0 0 1rem;
}

#index .modules .change-log .log-content ul li {
  font-size: 14px;
  line-height: 1.6;
}

#index .modules > .description {
  font-size: 16px;
}



@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 600px) {
  #index {
    
  }

  #index .head {
    padding: calc(2rem + 40px) 2rem 2rem;
    min-height: 45vw;
  }

  #index .head .device {
    right: -3rem;
  }
  
  #index .head .device svg {
    height: 110%;
  }

  #index .head .slogan .message {
    font-size: 8vw;
  }

  #index .head .slogan .link {
    font-size: 18px;
  }

  #index .modules {
    padding: 2rem;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  #index .modules > .description {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2rem 0 0;
  }
  
}
