
.notification-inline {
  padding: 1rem;
  margin: 0 0 2rem;
  background-color: rgba(123, 220, 193, 0.4);
}

.notification-inline .name {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
}

.notification-inline .description {
  margin: 10px 0 0;
}

.notification-inline.info {
  background-color: rgba(187, 187, 187, 0.2);
}

.notification-inline.error {
  background-color: rgba(244, 67, 54, 0.5);
}


@media screen and (max-width: 600px) {
  
}
