#leaderboards {
  padding: 0;
  display: grid;
}

#leaderboards .content.head .text p {
  max-width: 500px;
  font-size: 16px;
}





@media screen and (max-width: 1280px) {

  

}

@media screen and (max-width: 1024px) {

  

}

@media screen and (max-width: 600px) {

  #leaderboards .content.head .text p {
    font-size: 14px;
  }

}