.module:nth-child(2) .sub-header ~ div p {
  max-width: 300px;
}

@media screen and (max-width: 1023px) {

  #inventory.consumables > .module.views {
    grid-row: 1/4;
  }
  
  #inventory.consumables > .module:not(.views) {
    grid-column: 2/3;
  }

}