.list.progression li {
  height: unset;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.03);
}

.list.progression li .icon {
  background-color: rgba(255, 255, 255, 0.07);
}

.list.progression li .icon .image {
  position: relative;
  width: 96px;
  height: 117px;
}

.list.progression li .text {
  width: 100%;
  height: 117px;
  padding: 1rem;
}

.list.progression li .text .name {
  font-size: 16px;
  margin: 0 0 16px;
}

.list.progression li .text .data {
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 1rem;
}

.list.progression li .text .data .name {
  margin: 7px 0 0;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.list.progression li .text .data .value {
  font-size: 18px;
  line-height: 1;
}

.list.progression li .progress-bar {
  margin: 0;
}

.list.progression li .progress-bar.step {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.list.progression li .progress-bar.total {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
}

.list.progression li .progress-bar .bar {
  background-color: transparent;
}

.list.progression li .progress-bar .bar .text {
  display: none;
}

.list.progression li .progress-bar .bar .fill {
  background-color: white;
}

.list.progression li .progress-bar.step .bar .fill {
  background-color: rgba(255, 255, 255, 0.1);
}




@media screen and (max-width: 600px) {
  .list.progression li .icon .image {
    position: relative;
    width: 66px;
    height: 72px;
  }

  .list.progression li .text {
    width: calc(100% - 66px);
    height: 72px;
    padding: 8px 1rem;
    grid-template-columns: auto 48px;
  }

  .list.progression li .text .name {
    font-size: 14px;
    margin: 0;
  }

  .list.progression li .text .data {
    margin: 7px 0 0;
  }

  .list.progression li .text .data .value {
    font-size: 12px;
  }

  .list.progression li .text .data .name {
    margin: 7px 0 0;
    font-size: 10px;
  }

}