@font-face {
  font-family: 'destiny';
  src: url('destiny.woff?equqee') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="destiny-"], [class*=" destiny-"] {
  font-family: 'destiny' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.destiny-arrow_right_hollow:before {
  content: "\e90f";
}
.destiny-arrow_left:before {
  content: "\e995";
}
.destiny-arrow_right:before {
  content: "\e9ec";
}
.destiny-tracked-triumph_lines:before {
  content: "\e9e6";
}
.destiny-tracked-triumph_circle:before {
  content: "\e9e7";
}
.destiny-tracked-triumph_bg:before {
  content: "\e9e8";
}
.destiny-settings:before {
  content: "\e05a";
}
.destiny-A_Button:before {
  content: "\e905";
}
.destiny-B_Button:before {
  content: "\e907";
}
.destiny-X_Button:before {
  content: "\e908";
}
.destiny-Y_Button:before {
  content: "\e973";
}
.destiny-left_trigger:before {
  content: "\e98c";
}
.destiny-right_trigger001:before {
  content: "\e998";
}
.destiny-LB:before {
  content: "\e999";
}
.destiny-RB:before {
  content: "\e99e";
}
.destiny-Right_Click001:before {
  content: "\e9ab";
}
.destiny-Right_Stick:before {
  content: "\e9ac";
}
.destiny-left_click001:before {
  content: "\e9ad";
}
.destiny-left_stick001:before {
  content: "\e9ae";
}
.destiny-dpad_down001:before {
  content: "\e9af";
}
.destiny-dpad_left001:before {
  content: "\e9b0";
}
.destiny-dpad_right001:before {
  content: "\e9b1";
}
.destiny-dpad_up001:before {
  content: "\e9b2";
}
.destiny-menu_button:before {
  content: "\e9b3";
}
.destiny-view_button:before {
  content: "\e9b4";
}
.destiny-grenade:before {
  content: "\e9b8";
}
.destiny-headshot:before {
  content: "\e9bf";
}
.destiny-melee:before {
  content: "\e9c3";
}
.destiny-beam_weapon:before {
  content: "\e9c5";
}
.destiny-bow:before {
  content: "\e09a";
}
.destiny-pulse_rifle:before {
  content: "\e9c6";
}
.destiny-rocket_launcher:before {
  content: "\e9c9";
}
.destiny-machinegun:before {
  content: "\e155";
}
.destiny-scout_rifle:before {
  content: "\e9ca";
}
.destiny-shotgun:before {
  content: "\e9cb";
}
.destiny-auto_rifle:before {
  content: "\e9cc";
}
.destiny-shrapnel_launcher:before {
  content: "\e9cd";
}
.destiny-sidearm:before {
  content: "\e9ce";
}
.destiny-hand_cannon:before {
  content: "\e9cf";
}
.destiny-smg:before {
  content: "\e9d0";
}
.destiny-sniper_rifle:before {
  content: "\e9d1";
}
.destiny-grenade_launcher:before {
  content: "\e9d3";
}
.destiny-fusion_rifle:before {
  content: "\e9d4";
}
.destiny-cabal_rifle:before {
  content: "\e9d5";
}
.destiny-spear_launcher:before {
  content: "\e9d9";
}
.destiny-sword_heavy:before {
  content: "\e9da";
}
.destiny-wire_rifle:before {
  content: "\e9dc";
}
.destiny-ammo_heavy:before {
  content: "\e900";
  color: #b286ff;
}
.destiny-ammo_special:before {
  content: "\e901";
  color: #7af48b;
}
.destiny-ammo_primary:before {
  content: "\e902";
}
.destiny-power:before {
  content: "\6c";
}
.destiny-damage_solar:before {
  content: "\73";
}
.destiny-damage_arc:before {
  content: "\61";
}
.destiny-damage_void:before {
  content: "\76";
}
.destiny-damage_kinetic:before {
  content: "\6b";
}
.destiny-platform_steam:before {
  content: "\e903";
}
.destiny-platform_battlenet:before {
  content: "\e904";
}
.destiny-platform_pc:before {
  content: "\34";
}
.destiny-platform_playstation:before {
  content: "\32";
}
.destiny-platform_xbox:before {
  content: "\31";
}
.destiny-bungie:before {
  content: "\f133";
}
.destiny-ghost:before {
  content: "\f113";
}
.destiny-clan_banner:before {
  content: "\f143";
}
.destiny-road_kill:before {
  content: "\f11a";
}
.destiny-uniF129:before {
  content: "\f129";
}
.destiny-uniF12C:before {
  content: "\f12c";
}
.destiny-raid:before {
  content: "\f140";
}
.destiny-meditations:before {
  content: "\e97d";
}
.destiny-ahamkara_bones:before {
  content: "\e9df";
}
.destiny-corrupted_eggs:before {
  content: "\e9de";
}
.destiny-lost_sectors:before {
  content: "\e980";
}
.destiny-region_chests:before {
  content: "\e981";
}
.destiny-cat_statues:before {
  content: "\e9dd";
}
.destiny-lore_scholar .path1:before {
  content: "\e923";
  opacity: 0.75;
}
.destiny-lore_scholar .path2:before {
  content: "\e924";
  margin-left: -1.140625em;
  opacity: 0.75;
}
.destiny-lore_scholar .path3:before {
  content: "\e925";
  margin-left: -1.140625em;
  opacity: 0.75;
}
.destiny-lore_scholar .path4:before {
  content: "\e926";
  margin-left: -1.140625em;
  opacity: 0.75;
}
.destiny-lore_scholar .path5:before {
  content: "\e927";
  margin-left: -1.140625em;
  opacity: 0.75;
}
.destiny-lore_scholar .path6:before {
  content: "\e928";
  margin-left: -1.140625em;
  opacity: 0.75;
}
.destiny-lost_memory_fragments:before {
  content: "\e906";
}
.destiny-sleeper_nodes:before {
  content: "\e99a";
}
.destiny-glory:before {
  content: "\e920";
}
.destiny-infamy:before {
  content: "\e921";
}
.destiny-valor:before {
  content: "\e922";
}
.destiny-faction_fella .path1:before {
  content: "\e9e5";
  color: rgb(245, 246, 245);
}
.destiny-faction_fella .path2:before {
  content: "\e9e9";
  margin-left: -0.6953125em;
  color: rgb(57, 96, 70);
}
.destiny-faction_fella .path3:before {
  content: "\e9ea";
  margin-left: -0.6953125em;
  color: rgb(245, 246, 245);
}
.destiny-faction_fella .path4:before {
  content: "\e9eb";
  margin-left: -0.6953125em;
  color: rgb(245, 246, 245);
}
.destiny-faction_fella .path5:before {
  content: "\e9ed";
  margin-left: -0.6953125em;
  color: rgb(245, 246, 245);
}
.destiny-well_rested:before {
  content: "\e91e";
}
.destiny-flashpoint:before {
  content: "\e91f";
}
.destiny-crucible:before {
  content: "\e910";
}
.destiny-black_armory_forge:before {
  content: "\e914";
}
.destiny-reckoning:before {
  content: "\e913";
}
.destiny-gambit:before {
  content: "\e911";
}
.destiny-menagerie .path1:before {
  content: "\e915";
  color: rgb(255, 255, 255);
}
.destiny-menagerie .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(128, 67, 52);
}
.destiny-menagerie .path3:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.destiny-menagerie .path4:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.destiny-menagerie .path5:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.destiny-menagerie .path6:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.destiny-menagerie .path7:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(128, 67, 52);
}
.destiny-menagerie .path8:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(128, 67, 52);
}
.destiny-menagerie .path9:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(128, 67, 52);
}
.destiny-patrol:before {
  content: "\e912";
}
.destiny-adventure2 .path1:before {
  content: "\e982";
  color: rgb(255, 255, 255);
}
.destiny-adventure2 .path2:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(230, 116, 25);
}
.destiny-adventure2 .path3:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.destiny-adventure2 .path4:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.destiny-adventure2 .path5:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.destiny-adventure2 .path6:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.destiny-adventure:before {
  content: "\e992";
}
.destiny-quest2 .path1:before {
  content: "\e988";
  color: rgb(48, 61, 161);
}
.destiny-quest2 .path2:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.destiny-quest2 .path3:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.destiny-quest2 .path4:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.destiny-quest2 .path5:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.destiny-quest2 .path6:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.destiny-quest:before {
  content: "\e909";
}
.destiny-strike:before {
  content: "\e9a2";
}
.destiny-destiny:before {
  content: "\e90a";
}
.destiny-clovis_bray_device:before {
  content: "\e96b";
}
.destiny-ishtar:before {
  content: "\e90d";
}
.destiny-team_alpha_alt:before {
  content: "\e9f4";
}
.destiny-team_bravo_alt:before {
  content: "\e9f5";
}
.destiny-class_titan:before {
  content: "\e90b";
}
.destiny-class_hunter:before {
  content: "\e90c";
}
.destiny-class_warlock:before {
  content: "\e90e";
}
